:root{
  --cp: #72150E; /* Color principal. */
  --cs: #D4D955; /* Color secundario. */
}

body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0 auto;
  background-color: var(--cp);
  color: #04103C;
}

h1{
  text-align: center;
  font-weight: bold;
  color: #579128;
}

h2.titulo{
  font-weight: bold;
}

div.lista section{
  display: flex;
  justify-content: space-between;
  color: #223074;
  font-weight: 600;
}

div.lista section p{
  margin: 0;
}

footer p.copyright{
  color: grey;
  text-align: center;
}

div.lista img{
  height: 400px;
  max-width: 100%;
  border-radius: 20px;
}

div.lista{
  background-color: var(--cs);
  border-radius: 26px;
  padding: 20px;
  margin: 10px auto;
  max-width: 300px;
  box-shadow: 13px 12px 24px 6px var(--cs);
}

section.conjunto{
  display: flex;
  gap: 30px;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

div.lista a{
  text-decoration: none;
  background-color: var(--cp);
  color: var(--cs);
  text-align: center;
  display: block;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.3s;
  border: solid 2px var(--cp);
}

div.lista a:hover{
  background: transparent;
  letter-spacing: 5px;
  color: var(--cp);
}

div.lista details{
  margin: 10px;
  color: grey;
}

/* *{outline: 1px solid red;} */