body{
    text-align: center;
}

h1{
    color: red;
}

h2{
    color: darkgoldenrod;
}

ul,
div,
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul,
div{
    justify-content: center;
    background-color: darkblue;
    color: yellow;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

section#cal ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: fit-content;
    justify-self: center;
    margin: 5px;
    padding: 5px;
    background-color: coral;
}

section#cal ul li{
    color: red;
    border: red 1px solid;
    background-color: tan;
    margin: 5px;
}

div.destaque{
    background-color: lightyellow;
    max-width: 300px;
}

div.month{
    flex-direction: column;
}

div.month h2{
    margin: 0;
}

p,
li{
    list-style: none;
    margin: 10px;
    border: 1px yellow solid;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 0;
}

body{
    background-color: blue;
}