body{
    text-align: center;
}

h1{
    color: red;
}

h2{
    color: darkgoldenrod;
}

ul,
div,
section{
    display: flex;
    flex-wrap: wrap;
}

section{
    justify-content: center;
}

ul,
div{
    justify-content: center;
    background-color: darkblue;
    color: yellow;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    margin: 20px;
}

.destaque{
    background-color: lightyellow;
}

p,
li{
    list-style: none;
    margin: 10px;
    border: 1px yellow solid;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 0;
}

body{
    background-color: blue;
}