ul,
div{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color: darkblue;
    border-radius: 10px;
    padding: 0;
}

p,
li{
    list-style: none;
    text-align: center;
    color: yellow;
    margin: 10px;
}

body{
    background-color: blue;
}