html{
    scroll-behavior: smooth;
}

body{
    max-width: 350px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

header img{
    aspect-ratio: 1/1;
    border-radius: 100%;
}

button{
    cursor: pointer;
}

img{
    max-width: 100%;
}

p.info{
    text-align: justify;
}

main{
    margin: 30px 0;
}

div.redes nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

nav.seleccion,
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section.listado{
    display: flex;
    flex-wrap: wrap;
}

section.listado div{
    max-width: 140px;
}