html{
    text-align: center;
}

img{
    max-width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

section div div{
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: coral;
    border-radius: 20px;
    padding: 10px;
    max-width: 300px;
}

h3{
    margin: 0;
}