body{
    text-align: center;
    background: linear-gradient(#2FD1EE, #E3C050);
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.index{
    max-width: 600px;
    margin: auto;
}

.intro{
    max-width: 600px;
    display: flex;
    gap: 10px;
    margin: 10px auto;
}

.directorios ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.directorios a{
   text-decoration: none;
   color: black;
}

.directorios a:hover{
    color: #F2B74A;
}

a.destaque{
    color: #F2B74A;
}

footer p{
   color: #616161;
   text-align: center;
}

.conjunto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ficha{
    background-color: #B4B4B4;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: 1s;
}

.ficha img{
    width: 300px;
}

.ficha:hover{
    scale: 1.2;
}