html{
    text-align: center;
}

body{
    background-color: aqua;
}

img{
    max-width: 100%;
}

a button{
    cursor: pointer;
}

a.page button{
    width: 40px;
    margin: 5px;
    padding: 3px;
}

section.juegos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.juegos a{
    color: black;
    text-decoration: none;
}

section.juegos div div{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 10px;
    transition: 0.8s;

    &:hover{
        background-color: blue;
        color: red;
        scale: 1.1;
    }
}

section.juegos div img{
    aspect-ratio: 1/1;
    border-radius: 5px;
}

section.info{
    justify-self: center;
    background-color: brown;
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
}

section.info img{
    border-radius: 10px;
    width: 100%;
}

form.crear input,
form.crear textarea,
form.crear button{
    margin: 2px;
}

p.advertencia{
    color: red;
}

p.advertencia span{
    color: darkred;
    font-weight: bolder;
}