*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
}

h1,
h2{
    justify-self: center;
}

img{
    max-width: 100%;
}

header section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo,
.directorios ul,
.granboton{
    display: flex;
}

.granboton button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.directorios ul{
    gap: 10px;
}

.logo img{
    height: 60px;
    aspect-ratio: 1/1;
}

a{
    text-decoration: none;
    color:black;
}

.directorios ul{
    list-style: none;
}

.directorios a,
footer p{
    color: grey;
}

.registro{
    background-color: #00b7ff;
}

form.busqueda{
    display: flex;
    justify-self: center;
}

form.busqueda input[type=text]{
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 400px;
}

form.busqueda button{
    position: relative;
    left: -20px;
    border-radius: 10px;
    background: linear-gradient(white, grey);
    border: none;
}

form.busqueda button img{
    width: 20px;
}

.limites{
    background-image: url("./img/paisajes/cielo.png");
    background-size: cover;
    background-position: center;
    gap: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.limites p{
    font-size: 18px;
}

.limites p.izquierda{
    text-align: left;
}

.limites p.derecha{
    text-align: right;
}

.fichas{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    color: black;
}

.fichas h3{
    text-align: center;
}

button{
    cursor: pointer;
}

.fichas button{
    align-self: center;
}

.fichas div{
    background-color: grey;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 400px;
    border-radius: 30px;
    padding: 10px;
    align-self: center;
}

.fichas div img{
    height: 150px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 6px 15px 0px #000000e6;
}

.fichas .separador{
    width: 2px;
    height: 500px;
}

.ajustes{
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: center;
}

.ajustes .subida{
    background: linear-gradient(#707070, #949494);
    border-radius: 30px;
    padding: 100px;
}

.ajustes .subida button{
    background: linear-gradient(#707070, #949494);
    border-radius: 10px;
}

.boton button{
    background: linear-gradient(#737373, #D9D9D9);
}

.ajustes .boton{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.ajustes .boton div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ajustes .boton h3{
    text-align: center;
}

.ajustes .subida button,
.boton button{
    border: 1px solid black;
    width: 120px;
    height: 20px;
    margin: 5px;
}

footer div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

footer div button{
    background-color: black;
    border: none;
}