*{
    box-sizing: border-box;
}

:root{
    --cf: black; /* Color del fondo y ciertos textos. */
    --ct: white; /* Color del texto. */
    --cc: grey; /* Color "copyright" */
    --cd: #00b7ff; /* Color de destaque */
    --cl-g1: linear-gradient(white, grey); /* Primer color linear-gradial */
    --cl-g2: linear-gradient(#707070, #949494); /* Segundo color linear-gradial */

    --radio1: 10px; /* Radio general. */
    --radio2: 30px; /* Radio grande. */
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cf);
    color: var(--ct);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2{
    justify-self: center;
}

img{
    max-width: 100%;
}

header section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo,
.directorios ul,
.granboton{
    display: flex;
}

.granboton button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: var(--radio1);
    margin: 10px;
}

.directorios ul{
    gap: 10px;
}

.logo img{
    height: 60px;
    aspect-ratio: 1/1;
}

a{
    text-decoration: none;
    color: var(--cf);
}

.directorios ul{
    list-style: none;
}

.directorios a,
footer p{
    color: var(--cc);
}

.registro{
    background-color: var(--cd);
}

form.busqueda{
    display: flex;
    justify-self: center;
}

form.busqueda input[type=text]{
    padding: 5px;
    border-radius: var(--radio1);
    border: none;
    width: 400px;
}

form.busqueda button{
    position: relative;
    left: -20px;
    border-radius: var(--radio1);
    background: var(--cl-g1);
    border: none;
}

form.busqueda button img{
    width: 20px;
}

.limites{
    background-image: url("./img/paisajes/cielo.png");
    background-size: cover;
    background-position: center;
    gap: 0;
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.limites p{
    font-size: 18px;
    margin: 10px;
}

.limites p.izquierda{
    text-align: left;
}

.limites p.derecha{
    text-align: right;
}

.fichas{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    color: var(--cf);
}

.fichas h3{
    text-align: center;
}

button{
    cursor: pointer;
}

.fichas button{
    align-self: center;
}

.fichas div{
    background-color: var(--cc);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 400px;
    border-radius: var(--radio2);
    padding: 10px;
    align-self: center;
}

.fichas div img{
    height: 150px;
    min-width: 200px;
    border-radius: var(--radio1);
    box-shadow: 0px 6px 15px 0px #000000e6;
}

.fichas .separador{
    width: 2px;
    height: 500px;
}

.ajustes{
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: center;
}

.ajustes .subida{
    background: var(--cl-g2);
    border-radius: var(--radio2);
    padding: 100px;
}

.ajustes .subida button{
    background: var(--cl-g2);
    border-radius: var(--radio1);
}

.boton button{
    background: linear-gradient(#737373, #D9D9D9);
}

.ajustes .boton{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.ajustes .boton div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ajustes .boton h3{
    text-align: center;
}

.ajustes .subida button,
.boton button{
    border: 1px solid var(--cf);
    width: 120px;
    height: 20px;
    margin: 5px;
}

div.footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

div.footer button[type=button]{
    background-color: var(--cf);
    border: none;
}


form.contacto div{
    display: flex;
}

form.contacto input[type=email]{
    padding: 5px;
    border-radius: var(--radio1);
    border: none;
    width: 250px;
}

form.contacto button{
    position: relative;
    border-radius: var(--radio1);
    background: var(--cl-g1);
    right: 20px;
    border: none;
}

form.contacto button img{
    width: 20px;
}