*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
}

img{
    max-width: 100%;
}

header section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo,
.directorios ul,
.granbotton{
    display: flex;
}

.directorios ul{
    gap: 10px;
}

.logo img{
    height: 60px;
    aspect-ratio: 1/1;
}

a{
    text-decoration: none;
    color:black;
}

.directorios ul{
    list-style: none;
   
}

.directorios a,
footer p{
    color: #707070;
}

.granboton button{
    width: 100px;
    height: 25px;
}

.registro{
    background-color: #00b7ff;
}

form.busqueda input[type=text]{
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    float: left;
    width: 400px;
}

form.busqueda button{
    float: left;
    position: relative;
    left: -20px;
}

form.busqueda button img{
    width: 17px;
}