h1,
footer p,
ul#listGen p,
section#cal h2{
    text-align: center;
}

img{
    max-width: 100%;
}

ul#listPicsum{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


ul#listImg li,
ul#listGen li,
ul#listPicsum li,
ul#bucleArbol li{
    list-style: none;
    max-width: 350px;
    justify-self: center;
}

section#tablaMult div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#tablaMult div div{
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}

section#tablaMult div div h3,
section#tablaMult div div ul{
    margin: 5px;
}

section#tablaMult h2,
section#tablaMult,
section#matriz,
section#matriz div div{
    justify-self: center;
}

ul#bucleArbol li{
    margin: 5px;
    letter-spacing: 10px;
}

@keyframes luz{
    from{opacity:0.5;}
    to{opacity:1;}
}

ul#bucleArbol li.navidad:nth-child(2n+1){
    color: tan;
    animation: luz 1s infinite alternate;
}

section#cal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#cal ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    gap: 10px;
    padding: 0;
}

section#cal div{
    flex-wrap: nowrap;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

section#cal ul li{
    background-color: coral;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

section#cal ul li.dayName{
    color: white;
    background-color: black;
    font-weight: bold;
}

section#cal ul li.dias:nth-child(7n-1),
section#cal ul li.dias:nth-child(7n){
    color: tan;
    background-color: red;
}

section#matriz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#matriz h2,
section#matriz p{
    color: coral;
}

section#matriz span{
    font-weight: bold;
    color: black;
}

section#matriz div.gen{
    background-color: aqua;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

section#matriz img{
    border-radius: 10px;
}