html{
    text-align: center;
}

body{
    background-color: aquamarine;
}

input[type=submit],
button{
    cursor: pointer;
}

section.listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.listado div{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

section.listado div h3{
    margin: 0;
}

section.listado div p.info{
    margin: 0;
}